.header
{
    color: magenta;
    text-align: center;
    font-family: sans-serif;
    font-size: 400;
    font-weight: 200;
}

.intro 
{
    text-align: center;
}

.interests 
{
    text-align: center;
}

.transAndAutism 
{
    text-align: center;
}

.intro 
{
    text-align: center;
}

h1 
{
    color: magenta;
    text-align: center;
    font-family: sans-serif;
    font-size: 200;
    font-weight: 150;
}

h2 
{
    color: magenta;
    text-align: center;
    font-family: sans-serif;
    font-size: 150;
    font-weight: 100;
}

p 
{
    color: magenta;
    text-align: center;
    font-family: sans-serif;
    font-size: 100;
    background-color: aqua;
}

body 
{
    background-color: aqua;
}

footer 
{
    color: magenta;
    text-align: center;
    font-family: sans-serif;
    font-size: 100;
}

table 
{
    border-collapse: collapse;
    width: 100%;
}

table, th, td 
{
    border: 1px solid black;
}

th, td 
{
    padding: 8px;
    text-align: left;
}
